.d-flex button {
  margin: 1.5em 0.5em;
  padding: 0.3em 1.4em;
}
.d-flex table {
  color: azure;
}
table .btnEdit {
  cursor: pointer;
  color: #7f8487;
}
.success {
  background-color: #93c47d;
  padding: 1em;
}
.error {
  background-color: tomato;
  padding: 1em;
}
